.container {
	display: flex; /*chuyển sang flex */
	color: #FFF;
	background-color: #EEE;
	flex-direction: row /*column*/; /*chuyển sang dang cột hoặc hàng */
	justify-content: /*flex-start*/ /*flex-end*/ center /*space-between*/ /*space-around*/; 
	/*chuyển content sang trái, phải, giữa, chia đều ra, chia đều ra và có khoảng cách ở đầu vào cuối */
	height: 250px;
	align-items: center; /*thay đổi item theo chiều vuông góc với flex-direction với mặc định là stretch*/
}

.child-1 {
	background-color: red;
	flex-basis: 150px; /*thay đổi đọ rộng của content */
	flex-grow: 1; /*chia chỗ dư còn lại cho các content*/
	flex-shrink: 1; /*chia đều chỗ thiếu cho các content*/
}

.child-2 {
	background-color: green;
	flex-basis: 200px;
	flex-grow: 1;
}

.child-3 {
	background-color: blue;
	flex-basis: 150px;
	flex-grow: 1;
}