@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.weekly-album {
	display: flex;
	border-bottom: 1px solid #EEE;
}

.album-title {
	font-size: 14px;
	margin: 5px 0;
}

.album-singer {
	font-size: 13px;
	color: #999;
	margin: 5px 0;
}

.album-view-count {
	font-size: 13px;
	color: #999;
	margin: 5px 0;
}

.album-cover {
	height: 30,94px;
	width: 110px;
	background-image: url('http://lorempixel.com/400/200');
	/*ảnh tự động chuyển tra goole : lorempixel*/ 
	/*https://via.placeholder.com/128x200*/ /*khung ảnh*/ 
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
	color: #FFF;
	font-size: 20px;
	margin: 0 20px;
}

.album-cover .overlay {
	height: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,8) 0%, rgba(0,0,0,0) 100%);
	display: flex;
	align-items: flex-end;
	padding: 8px;
	box-sizing: border-box; /*không làm thay đổi size*/
}