/*position: static* | relative | fixed | absolute | stick 
  // vi trí cố định, di chuyển so với vị trí cố định, di chuyển so với cửa sổ trình duyệt*/
/*top bottom left right*/

/*.container {
	display: flex;
}*/

.box {
	width: 100px;
	height: 100px;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
/*	position: relative;
	right: 20px;	*/
}

.blue {
	background: blue;
}

.fixed {
	position: fixed;
	right: 10px;
	top: 10px;
}